body {
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
}

.app {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 20px;
}

.status {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 16px;
    background: silver;
    padding: 2px;
}

.inputText {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 150px;
}

.outputText {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
}

.textArea, .watermark, .dataDisplay {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 14px;
}

.dataDisplay {
    overflow: auto;
}

.selectionData {
    background: #ddffdd;
}

.watermark {
    color: gray;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.tree {
    position: absolute;
    left: 116px;
    right: 116px;
    top: 150px;
    bottom: 150px;
    text-align: center;
    overflow: auto;
}

.tree > .pipeline {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.palette {
    position: absolute;
    right: 0;
    top: 150px;
    bottom: 150px;
    width: 100px;
    overflow: auto;
    background: silver;
    margin: 8px;
}

.paletteItem {
    background: #46c;
    color: white;
    border-bottom: 1px solid gray;
    text-align: center;
    margin: 3px;
    padding: 2px;
    cursor: pointer;
}

.commands {
    position: absolute;
    left: 0;
    top: 150px;
    bottom: 150px;
    width: 100px;
    overflow: auto;
    background: silver;
    margin: 8px;
}

.pipeline {
    padding: 8px;
}

.pipeline > div {
    text-align: center;
    margin: 4px;
}

.operator, .sequenceItem, .palette, .paletteItem, .selectionData, .dataField {
    border-radius: 4px;
    box-shadow: 3px 3px 10px gray;
}

.operator {
    border: 1px solid gray;
    background: #eee;
    display: inline-block;
    position: relative;
}

.operatorTitle {
    background: #46c;
    color: white;
    border-bottom: 1px solid gray;
    padding: 1px 6px;
}

.operatorTitle.hovering {
    background: #4d8dff;
}

.operator table td {
    position: relative;
}

.operator input {
    margin: 0;
    max-width: 100px;
}

.operator input.invalidSetting {
    background: #e99;
}

.deleteButton {
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
    background-image: url(img/delete.png)
}

.dataNavigator {
    background: #b5becc;
    border-bottom: 1px solid gray;
}

.sequence {
    margin: 4px;
    min-height: 100px;
}

.sequenceItem {
    background: white;
    border: 1px solid gray;
}

.withEachItem {
    background: #eeefff;
}

.selected {
    border: 4px solid #00ee33;
}

.dataDisplayTable td {
    position: relative;
}

.dataField {
    background: #91bc8f;
    color: white;
    border: #006400;
    min-width: 48px;
    text-align: center;
    padding: 2px;
    margin: 3px;
}

.pipe.dragActive, .comma.dragActive {
    border: 1px dashed silver;
    min-width: 100px;
}

.pipe.dragHover, .comma.dragHover {
    border: 1px solid gray;
    min-width: 100px;
}

.commands button {
    width: 92px;
    margin: 3px;
}
