body {
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
}

.inputText {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 150px;
}

.outputText {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
}

.textArea, .watermark, .selectionData {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 14px;
}

.selectionData {
    background: #ddffdd;
}

.watermark {
    color: gray;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.tree {
    position: absolute;
    left: 0;
    right: 116px;
    top: 150px;
    bottom: 150px;
    text-align: center;
    overflow: auto;
}

.palette {
    position: absolute;
    right: 0;
    top: 150px;
    bottom: 150px;
    width: 100px;
    overflow: auto;
    background: silver;
    margin: 8px;
}

.paletteItem {
    background: #46c;
    color: white;
    border-bottom: 1px solid gray;
    text-align: center;
    margin: 3px;
    padding: 2px;
    cursor: pointer;
}

.pipeline {
    padding: 8px;
}

.pipeline > div {
    text-align: center;
    margin: 4px;
}

.pipe.dragHover, .comma.dragHover {
    background: silver;
    min-width: 100px;
    min-height: 30px;
}

.operator, .sequenceItem, .palette, .paletteItem, .selectionData {
    border-radius: 4px;
    box-shadow: 3px 3px 10px gray;
}

.operator {
    border: 1px solid gray;
    background: #eee;
    display: inline-block;
    position: relative;
}

.operatorTitle {
    background: #46c;
    color: white;
    border-bottom: 1px solid gray;
    padding: 1px 6px;
}

.operatorTitle.hovering {
    background: #4d8dff;
}

.operator table td {
    position: relative;
}

.operator input {
    margin: 0;
    max-width: 100px;
}

.operator input.invalidSetting {
    background: #e99;
}

.deleteButton {
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
    background-image: url(img/delete.png)
}

.dataNavigator {
    background: #b5becc;
    border-bottom: 1px solid gray;
}

.sequence {
    margin: 4px;
    min-height: 100px;
}

.sequenceItem {
    background: white;
    border: 1px solid gray;
}

.withEachItem {
    background: #eeefff;
}

.selected {
    border: 2px solid #00ee33;
}
