body {
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
}

.inputText {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 150px;
}

.outputText {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
}

.textArea, .watermark {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 14px;
}

.watermark {
    color: gray;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.tree {
    position: absolute;
    left: 0;
    right: 116px;
    top: 150px;
    bottom: 150px;
    text-align: center;
    overflow: auto;
}

.palette {
    position: absolute;
    right: 0;
    top: 150px;
    bottom: 150px;
    width: 100px;
    overflow: auto;
    background: silver;
    margin: 8px;
}

.palette .item {
    background: #46c;
    color: white;
    border-bottom: 1px solid gray;
    text-align: center;
    margin: 3px;
    padding: 2px;
}

.pipeline {
    padding: 8px;
}

.pipeline > div {
    text-align: center;
    margin: 4px;
}

.operator, .sequenceItem, .palette, .palette .item {
    border-radius: 4px;
    box-shadow: 3px 3px 10px gray;
}

.operator {
    border: 1px solid gray;
    background: #eee;
    display: inline-block;
}

.operator .title {
    background: #46c;
    color: white;
    border-bottom: 1px solid gray;
    padding: 1px 6px;
}

.operator table td {
    position: relative;
}

.operator input {
    margin: 0;
    max-width: 100px;
}

.operator input.invalidSetting {
    background: #e99;
}

.deleteButton {
    float: right;
    cursor: pointer;
}

.dataNavigator {
    background: #b5becc;
    border-bottom: 1px solid gray;
}

.sequence {
    margin: 4px;
}

.sequenceItem {
    background: white;
    border: 1px solid gray;
}

.withEachItem {
    background: #eeefff;
}